#      ___           ___           ___
#     /  /\         /__/\         /__/\
#    /  /:/_        \  \:\        \  \:\
#   /  /:/ /\        \  \:\        \  \:\
#  /  /:/ /::\   ___  \  \:\   _____\__\:\
# /__/:/ /:/\:\ /__/\  \__\:\ /__/::::::::\
# \  \:\/:/~/:/ \  \:\ /  /:/ \  \:\~~\~~\/
#  \  \::/ /:/   \  \:\  /:/   \  \:\  ~~~
#   \__\/ /:/     \  \:\/:/     \  \:\
#     /__/:/       \  \::/       \  \:\
#     \__\/         \__\/         \__\/
#
#MIT License
#
#Copyright (c) 2020 Jviguy
#
#Permission is hereby granted, free of charge, to any person obtaining a copy
#of this software and associated documentation files (the "Software"), to deal
#in the Software without restriction, including without limitation the rights
#to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
#copies of the Software, and to permit persons to whom the Software is
#furnished to do so, subject to the following conditions:
#
#The above copyright notice and this permission notice shall be included in all
#copies or substantial portions of the Software.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
#OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
#SOFTWARE.

version: 2.1
orbs:
  discord: teka23/discord@0.0.1
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.13

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/sun_proxy/sun
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `

      - discord/notify:
          color: '4383476'
          webhook: $DISCORD_WEBHOOK

      - run:
          name: Get Modules
          command: |
            go get -v -t -d ./...;
      - run:
          name: Build Binaries
          command: |
            go build -o sun_linux64;
            env GOARCH=arm go build -o sun_linux32;
            env GOOS=windows GOARCH=amd64 go build -o sun_windows64.exe;
            env GOOS=windows GOARCH=arm go build -o sun_windows32.exe;
            env GOOS=darwin GOARCH=amd64 go build -o sun_darwin64;
      - run:
          name: make Artifact Folder
          command: |
            mkdir /tmp/artifacts;
      - run:
          name: Move Binaries
          command: |
            mv sun_linux64 /tmp/artifacts;
            mv sun_linux32 /tmp/artifacts;
            mv sun_windows64.exe /tmp/artifacts;
            mv sun_windows32.exe /tmp/artifacts;
            mv sun_darwin64 /tmp/artifacts;
      - discord/status:
          webhook: $DISCORD_WEBHOOK

      - store_artifacts:
          path: /tmp/artifacts
